
h4 {
    padding-top: 20px;
}
.my-row{
    /*
    height: 100vh;
      width: 100wh;*/
   
}
.my-col {
    border: 1px solid red;
   
    
}
.column-3 {
    position: relative;
}
.input-group{
    display: inline;
}
.img-fluid {
 border-radius: 50%;
}
.pro-name {
    margin-left: 50px;
    font-weight: bold;
}
hr {
    color: black;
    background-color: black;
    height: 3px;
}
.list-group list {
  padding: 20px 10px;
}
.Button {
    margin: 20px 50px;
    width: 50%;
}
/*second part*/
.container {
   border: 1px solid green;
}
/*third part*/
.col-3-heading {
    background-color: rgb(65, 132, 165);
    display: flex;
    justify-content: flex-end;
}
.btn btn-light {
 
}
.sec-image {
    background-color: #fff;
    display: flex;
    align-items: center;
}
.flex-container {
    display: flex;
}
.coursera-img {
    padding-top: 10px;
    width: 100px;
    margin-left: 15px;
    flex: 1;   

}


.email-from-to  {
margin-right: 40%;
flex: 1;
padding-top: 40px;
padding-bottom: 10px;
font-weight: bold;
}
    

.content {
    background-color: black;
    color: white;
}
h2 {
    font-size: 25px;
}
.content-img {
    border-radius: 0%;
    width: 63%;
    height: 30%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 75px;
    
}
section {
    justify-content: center;
    margin-left: 75px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    border: ipx solid rgb(28, 143, 135);
    margin-bottom: 8%;
}
